{% extends 'layouts/app.twig' %}

{% block title %}

    Contact Page

{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="card">
                <div class="card-header">
                    Contact Confirmed :) 
                </div>
            </div>
        </div>
    </div>

{% endblock %}